.footer {
  padding-top     : 130px;
  padding-bottom  : 175px;
  padding-inline  : 60px;
  width           : 100%;
  background-color: #222730;

  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content      : center;
  align-items          : flex-start;
  gap                  : 150px;
  color                : #999;
}

.h2 {
  color        : #FFF;
  margin-bottom: 20px;
  line-height  : 30px;
}

.link {
  color      : #999;
  line-height: 37.5px
}

.footer__links {
  display        : flex;
  flex-direction : column;
  height         : 100%;
  justify-content: space-between;
}

.footer__info {
  display       : flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 35px;
}

.paragraph {
  line-height: 25px;
}